In [1]:
import pandas as pd

In [2]:
solar = pd.read_csv("weather-random.csv")

In [16]:
solar.head(5)

,Date,Cloud coverage,Visibility,Temperature,Dew point,Relative humidity,Wind speed,Station pressure,Altimeter,Solar energy
0,5/30/2017,0.31,9.96,19.77,7.51,45.51,10.91,27.20,29.99,35074.0
1,7/26/2017,0.27,9.41,24.57,21.81,83.62,5.09,29.26,30.05,28983.0
2,6/5/2016,0.35,10.00,20.79,15.21,68.98,11.61,28.96,29.75,28213.0
3,1/19/2017,0.70,3.63,4.34,4.01,95.85,8.08,29.09,29.88,3127.0
4,5/5/2017,0.12,10.00,10.78,5.44,70.45,15.34,28.98,29.77,39832.0

In [8]:
solar.columns

Index(['Random', 'Date', 'Cloud coverage', 'Visibility', 'Temperature',
       'Dew point', 'Relative humidity', 'Wind speed', 'Station pressure',
       'Altimeter', 'Solar energy', '(Inverters)'],
      dtype='object')

In [10]:
solar.drop(["(Inverters)","Random"], axis = 1, inplace = True)

In [11]:
col = solar.columns

In [13]:
df = pd.DataFrame(solar, columns = col)

In [14]:
df.head(1)

,Date,Cloud coverage,Visibility,Temperature,Dew point,Relative humidity,Wind speed,Station pressure,Altimeter,Solar energy
0,5/30/2017,0.31,9.96,19.77,7.51,45.51,10.91,27.2,29.99,35074.0

In [15]:
df.to_csv("solar.csv")