In [1]:
import pandas as pd
import numpy as np

In [18]:
import csv

In [80]:
import keras

Using TensorFlow backend.

ModuleNotFoundError: No module named 'tensorflow'

In [25]:
weather = pd.read_csv("weather-daily.csv")

In [26]:
weather.head(5)

,Date,Cloud coverage,Visibility,Temperature,Dew point,Relative humidity,Wind speed,Station pressure,Altimeter,Solar energy,(Inverters)
0,01-02-16,0.103750,9.447917,3.113750,0.321667,79.454583,4.694583,29.228750,30.019583,20256,NaN
1,02-02-16,0.798333,3.941250,6.992500,6.215417,93.597500,13.290833,28.911667,29.697917,1761,NaN
2,03-02-16,0.864583,8.699583,1.615000,0.022917,85.001667,16.726250,29.026667,29.814583,2775,NaN
3,04-02-16,0.372917,10.000000,-2.472500,-5.886250,74.522500,9.455417,29.455000,30.254583,28695,NaN
4,05-02-16,0.515417,9.206667,-2.002917,-4.152083,82.027500,5.920000,29.550833,30.351250,9517,NaN

In [27]:
#normalizing dependent variable values to be between 0 and 1
def normalize_data(dataset, data_min, data_max):
    data_std = (dataset - data_min) / (data_max - data_min)
    test_scaled = data_std * (np.amax(data_std) - np.amin(data_std)) + np.amin(data_std)
    return test_scaled

In [28]:
#importing data
def import_data(train_dataframe, dev_dataframe, test_dataframe):
    dataset = train_dataframe.values
    dataset = dataset.astype('float32')

In [32]:
weather.columns

Index(['Date', 'Cloud coverage', 'Visibility', 'Temperature', 'Dew point',
       'Relative humidity', 'Wind speed', 'Station pressure', 'Altimeter',
       'Solar energy', '(Inverters)'],
      dtype='object')

In [34]:
df = pd.DataFrame(weather, columns = ['Date', 'Cloud coverage', 'Visibility', 'Temperature', 'Dew point',
       'Relative humidity', 'Wind speed', 'Station pressure', 'Altimeter',
       'Solar energy', '(Inverters)'])

In [37]:
#seperating day, month and year
df['Day'] = pd.DatetimeIndex(df['Date']).day
df['Month'] = pd.DatetimeIndex(df['Date']).month
df['Year'] = pd.DatetimeIndex(df['Date']).year

In [40]:
df.head(5)

,Date,Cloud coverage,Visibility,Temperature,Dew point,Relative humidity,Wind speed,Station pressure,Altimeter,Solar energy,(Inverters),Day,Month,Year
0,01-02-16,0.103750,9.447917,3.113750,0.321667,79.454583,4.694583,29.228750,30.019583,20256,NaN,2,1,2016
1,02-02-16,0.798333,3.941250,6.992500,6.215417,93.597500,13.290833,28.911667,29.697917,1761,NaN,2,2,2016
2,03-02-16,0.864583,8.699583,1.615000,0.022917,85.001667,16.726250,29.026667,29.814583,2775,NaN,2,3,2016
3,04-02-16,0.372917,10.000000,-2.472500,-5.886250,74.522500,9.455417,29.455000,30.254583,28695,NaN,2,4,2016
4,05-02-16,0.515417,9.206667,-2.002917,-4.152083,82.027500,5.920000,29.550833,30.351250,9517,NaN,2,5,2016

In [41]:
df.columns

Index(['Date', 'Cloud coverage', 'Visibility', 'Temperature', 'Dew point',
       'Relative humidity', 'Wind speed', 'Station pressure', 'Altimeter',
       'Solar energy', '(Inverters)', 'Day', 'Month', 'Year'],
      dtype='object')

In [55]:
X=df.iloc[:, 0:15]

In [56]:
X.drop(["(Inverters)","Date"], axis = 1, inplace = True)

In [66]:
X.head(5)

,Cloud coverage,Visibility,Temperature,Dew point,Relative humidity,Wind speed,Station pressure,Altimeter,Solar energy,Day,Month,Year
0,0.103750,9.447917,3.113750,0.321667,79.454583,4.694583,29.228750,30.019583,20256,2,1,2016
1,0.798333,3.941250,6.992500,6.215417,93.597500,13.290833,28.911667,29.697917,1761,2,2,2016
2,0.864583,8.699583,1.615000,0.022917,85.001667,16.726250,29.026667,29.814583,2775,2,3,2016
3,0.372917,10.000000,-2.472500,-5.886250,74.522500,9.455417,29.455000,30.254583,28695,2,4,2016
4,0.515417,9.206667,-2.002917,-4.152083,82.027500,5.920000,29.550833,30.351250,9517,2,5,2016

In [69]:
#df_norm = (df - df.mean()) / (df.max() - df.min())
#training data
train_data = X.iloc[:,0:11]
train_labels = X.iloc[:,11]